<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">
<title>The Online Boy Scout Patch and Memorabilia Price Database and eBay Archive</title>
<meta property="og:description" content="The leading destination for Boy Scout patch and collectible enthusiasts. Organize and price your collections as we offer instant access to the world's leading Boy Scout patch and collectibles databases, including Order of the Arrow first flaps, Council, Jamboree, knives, and vintage equipment. This site is the internet's largest collection of Boy Scout patch, collectible, and memorabilia data. A price guide based upon actual prices realized is available through a nominal annual subscription.">
<meta name="keywords" content="patch collecting, BSA, patches, OA, OA flap, lodge, lodge flaps, flaps, insignia, images, Boy Scouts of America, Order of the Arrow, camping, hiking, collecting, outdoors, boy scout price guide database">
<meta property="og:title" content="Boy Scout Price and Memorabilia Guide Subscriptions, Values, Trading, Organize, and more!" />
<meta property="og:description" content="The leading destination for Boy Scout patch and collectible enthusiasts. Organize and price your collections as we offer instant access to the world's leading Boy Scout patch and collectibles databases, including Order of the Arrow first flaps, Council, Jamboree, knives, and vintage equipment." />
<meta property="og:type" content="website" />
<meta property="og:image" content="//www.patchtrends.com/images/plot-header.png"/>
<meta property="og:url" content="//www.patchtrends.com/cgi-bin/index"/>
<meta property="og:site_name" content="Patchtrends.com" />
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css?77679790588977" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- Custom styles for this template -->
<link href="/css/jumbotron.css" rel="stylesheet">
<script src="/js/ie-emulation-modes-warning.js"></script>
<script src="/js/angular.min.js"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="/js/html5shiv.min.js"></script>
<script src="/js/respond.min.js"></script>
<![endif]-->
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/css/magnific-popup.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" />
</head>
<body>
<div ng-app="myApp" ng-controller="listController" class="bootstrap-styles" style="text-align:center">
  <div style="display: inline-block; text-align: left">
    <form>
      <div ng-hide="serverResponse" class="form-group" align=center>
        <h1 id=status>Reset Password</h1>
        <label for="subscriberId">Enter in PayPal Subscriber Id (<i>I-XXXXXXXXXXXX</i>).</label>
        <input class="form-control" ng-model="subscriberId" id="subscriberId" placeholder="PayPay Subscriber Id - e.g., I-XXXXXXXXXXXX" style="width:300px">
        <br/>OR
        <label for="username">Enter in username.</label>
        <input class="form-control" ng-model="username" id="username" placeholder="username" style="width:300px">
        <br/>OR
        <label for="email">Enter in email.</label>
        <input class="form-control" ng-model="email" id="email" placeholder="email" style="width:300px">
        <br/><button ng-click="reset()" class="btn btn-success">Reset Password</button>
        <a class="btn btn-danger" href="/" role="button">Back to Login</a>
        <a class="btn btn-default" href="/#join" role="button">Become a Member</a>
        <br/><br/>Send an email to <a href=mailto:patchtrends@gmail.com?subject=password%20reset>patchtrends@gmail.com</a> if problems persist.</label>
      </div>
    </form>
    <div ng-show="serverResponse" class="form-group" align=center>
      <h1><font color="{{ serverResponseColor }}">{{ serverResponse }}</font></h1>
      <br/>If your information is valid, you will receive an email at the registered email address with instructions on what to do next.
      <br/><br/>Send an email to <a href=mailto:patchtrends@gmail.com?subject=password%20reset>patchtrends@gmail.com</a> if problems persist.
      <br/><br/><a class="btn btn-danger" href="/" role="button">Back to Login</a>
    </div>
  </div>
</div>
</div>
<script>
'use strict';

/*
* Copyright Patchtrends.com 2012-present
*/

function getBaseURL() {
    var url = location.href;  // entire url including querystring - also: window.location.href;
    var baseURL = url.substring(0, url.indexOf('/', 14));
    if (baseURL.indexOf('http://localhost') != -1) {
        // Base Url for localhost
        var url = location.href;  // window.location.href;
        var pathname = location.pathname;  // window.location.pathname;
        var index1 = url.indexOf(pathname);
        var index2 = url.indexOf("/", index1 + 1);
        var baseLocalUrl = url.substr(0, index2);
        return baseLocalUrl + "/";
    }
    else {
        // Root Url for domain name
        return baseURL + "/";
    }
}

var myApp=angular.module('myApp',[]);

myApp.controller('listController', ['$scope', '$http', function ($scope, $http) {
    var baseAPIUrl = getBaseURL(); 
    $scope.reset=function() { 
      var data = { subscriberId:$scope.subscriberId, email:$scope.email, username:$scope.username };
console.log(data);
      $http({
        method: 'POST',
        url: baseAPIUrl+'api/member/reset-pw',
        headers: {'Content-Type': 'application/json'},
        data: data
      }).success(function (response) {
          $scope.serverResponse = "Password reset request sent.";
          $scope.serverResponseColor = "green";
      }).error(function (response) {
          $scope.serverResponse = "Error try again later";
          $scope.serverResponseColor = "red";
      }); 
    }; 

}]);
</script>

</body>
</html>
